@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Dosis:400,500,600');

.container {
  position: relative;
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
}

/* ---- HEADER ---- */
header {
  background: #5A0287;
  border-bottom: 0.1em solid #fff;
  position: relative;
}

#form-login {
  position: absolute;
  top: 30;
}

#nav-site ul li{
  display: inline;
  margin-right: 0.2em;
}

#form-logoff {
  margin: 5em 0;
}

#form-logoff a {
  color: #fff;
}
/* ---- FIM HEADER ---- */

/* ---- CORPO ---- */
.fundo-img {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/pretoBranco.jpg) #000 no-repeat center center;
  background-size: cover;
}

.cadastreSe{
  border: 0.2em solid #9300de;
  border-radius: 1.5em;
  height: 15em;
  margin: 2em auto;
  margin-top: 5%;
  position: relative;
  width: 35em;
}

.cadastreSe-p {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1em;
  text-align: center;
  text-shadow: 0.1em 0.1em #000;
}

.painel-metade {
  position: relative;
  width: 45%;
}

#painel-direita {
  margin: 1em 0;
}

.form-cadastro {
  position: relative;
  width: 100%;
  display: inline-block;
}

#input-cadastro {
  margin-bottom: .5em;
  width: 22em;
}

.foto {
  border: solid .5em #fff;
  border-bottom: solid 1.2em #fff;
}

.foto img {
  height: 100%;
  width: 100%;
}

#destaque-cadastro {
  width: 25em;
  height: 24em;
}

.time-line {
  background: #fff;
  height: 35em;
  padding: .5em;
  position: relative;
  width: 60%;
}

.time-line #input-perfil input {
  position: relative;
  background-color: #ccc;
  width: 33em;
}

#input-perfil {
  margin-bottom: .5em;
  width: 26em;
}

#img-perfil-cadastro {
  border-color: #D7D0DB;
  height: 12em;
  margin-bottom: 1em;
  width: 12em;
}

#foto-capa {
  height: 20em;
  margin-top: 1em;
  width: 20em;
}

#foto-perfil {
  height: 8em;
  border-color: #D7D0DB;
  position: absolute;
  width: 8em;
  z-index: 9999;
  top: 25%;
  left: 25%;
}

#prox-eventos {
  width: 21em;
  position: absolute;
  bottom: 1.5em;
}

#prox-eventos ul li {
  margin: .3em 0;
}
/* ---- FIM CORPO ---- */

/* ---- FOOTER ----*/
footer {
  background: #5A0287;
  border-top: 0.1em solid #FFF;
  clear: both;
  height: 4em;
  position: absolute;
  width: 100%;
}

.social li {
  display: inline;
}

.social {
  position: absolute;
  top: 12px;
  right: 0;
}
/* ---- FIM FOOTER ----*/

/* ---- H's ----*/
h2 {
  font-size: 2em;
  margin-bottom: .25em;
}
h3 {
  font-size: 1.0em;
  margin-bottom: .3em;
}
/* ---- FIM H's ----*/

/*---- EFEITOS ---- */
.colunas {
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

.full {
  width: 100%;
  margin: .5em auto;
}

.background {
  background: #D7D0DB;

}

.full-tela {
  height: 30em;
}

.absoluto {
  position: absolute;
}

.direita {
  right: 0;
}

.acima {
  top: 0;
}

.baixo {
  bottom: 0;
}

.transparencia {
  background: rgba(147,0,222,0.6);
}

.clarear {
  background: #9300de;
}
/*---- FIM EFEITOS ---- */

/* ---- INPUTS ---- */
form input {
  border: 1px solid #f2f2f2;
  padding: 8px;
  border-radius: 2px;
}

form input:focus {
  background-color: #ccc;
}
/* ---- FIM INPUTS ---- */

/* ---- TEXT ----*/
.text {
  font-family: 	"Oswald", Helvetica, Arial, sans-serif;
}

.body-text {
  font-family: 	"Dosis", Helvetica, Arial, sans-serif;
}

/* ---- FIM TEXT ----*/

/*---- BOTOES ----*/
.btn {
  background-color: #ccc;
  border: none;
  border-radius: .1em;
  color: #fff;
  font-size: .85em;
  padding: .4em 1.0em;
  text-decoration: none;
  text-align: center;
}

.btn-cadastreSe {
  color: #fff;
  background-color: #9300DE;
  bottom: 1em;
  font-size: 1.2em;
  left: calc(50% - 5em);
  padding: 0.75em 2em;
  position: absolute;
  width: 5em;
}

.btn-cadastreSe:hover {
  background-color: #af12ff;
}

.btn-principal {
  background-color: #0095b4;
}

.btn-principal:hover {
  background-color: #00809c;
}

#btn-perfil-cadastro {
  margin: 1.5em 15em;
  width: 15em;
}

.btn-sucesso {
  background-color: #009835;
}

.btn-erro {
  background-color: #CC0000;
}

.btn-alerta {
  background-color: #F28E00;
}
/*---- FIM BOTOES ----*/
